html {
    height: -webkit-fill-available;
}

body,
.countdown p {
    padding: 0;
    margin: 0;
}

.countdown .targetTime {
    font-size: 90%;
    font-weight: 500;
    font-stretch: extra-expanded;
}

.countdown .targetTime,
.countdown h1 span {
    text-align: center;
}

.countdown {
    height: 100vh;
    max-height: -webkit-fill-available;
}

.countdown,
.countdown h1 span {
    box-sizing: border-box;
    padding: 1rem 2.5%;
    position: relative;
}

.countdown .targetTime::after {
    content: 'まで';
    font-size: 75%;
    font-weight: 100;
    display: inline-block;
    padding: 0 0.25rem;
}

.countdown h1,
.countdown h1 span::before,
.countdown h1 span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.countdown h1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.countdown h1 span {
    display: block;
    width: 20%;
    margin: 0;
}

.countdown h1 span::before {
    font-size: 55%;
    font-style: italic;
    font-weight: 200;
    margin-top: -2rem;
}

.countdown h1 .day::before {
    content: 'day';
}

.countdown h1 .hour::before {
    content: 'hour';
}

.countdown h1 .min::before {
    content: 'min';
}

.countdown h1 .sec::before {
    content: 'sec';
}

.countdown h1 .msec::before {
    content: 'ms';
}

.countdown h1 span::after {
    font-size: 45%;
    font-weight: 300;
    margin-top: 2rem;
}

.countdown h1 .day::after {
    content: '日';
}

.countdown h1 .hour::after {
    content: '時間';
}

.countdown h1 .min::after {
    content: '分';
}

.countdown h1 .sec::after {
    content: '秒';
}

.countdown h1 .msec::after {
    content: 'ミリ秒';
}