html {
  height: -webkit-fill-available;
}

html,
body {
  padding: 0;
  margin: 0;
}

.none p,
.date li .none {
  display: none;
}

hr {
  border: none;
  padding: 1vw;
  margin: 0;
}

.date {
  font-family: "MS Mincho", serif;
  list-style-type: none;
  padding: 1%;
  margin: 0;
  font-size: 1.25vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0;
}

.date li {
  position: relative;
  padding: 2.5%;
  margin: 1%;
}

.date li:nth-child(7n+6) {
  color: blue;
}

.date li:nth-child(7n+7),
.holiday {
  color: red;
}

.date li b {
  font-size: 250%;
  font-weight: normal;
}

.date li p u {
  font-size: 95%;
  color: #000;
}

.date li p i:not(.event i) {
  font-size: 125%;
  font-style: normal;
}

.date li p span {
  display: block;
  font-size: 150%;
}

.date li .cafe i:after {
  content: "1F Cafe";
  color: #fff;
  background-color: red;
}

.date li .shop i:after {
  content: "2F Shop";
  color: #000;
  background-color: gold;
}

.date li .show,
.date li .show u {
  color: blue;
}

.date li .show span {
  padding: 1vw 0 0;
}

.date li .show u {
  text-decoration: none;
}

.date li .show i:after {
  content: "2F Gallery";
  color: #fff;
  background-color: blue;
}

.date .close:after {
  content: "CLOSE";
  font-size: 200%;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 550px) {

  hr {
    padding: 0.5vw
  }

  .date {
    font-size: 2vw;
    grid-template-columns: repeat(3, 1fr);
  }

  .date li {
    box-sizing: border-box;
    padding: 0.5vw;
    margin: 1.5vw;
    max-width: 30vw;
    min-height: 30vw;
  }

  .none {
    display: none;
  }
}